<section class="auth-card">
  <img src="/public/img/logo.png" class="auth-logo" alt="Mady Semijoias">
  <h2>Entrar no sistema</h2>

  <form action="/login" method="POST">
    <label>E-mail</label>
    <input type="email" name="email" required placeholder="Digite seu e-mail">

    <label>Senha</label>
    <input type="password" name="password" required placeholder="Digite sua senha">

    <button type="submit">Entrar</button>
  </form>

  <p class="center">
    Não tem conta? 
    <a href="/cadastro">Cadastre-se</a>
  </p>

</section>
